html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2 linear;
  background-color: rgb(36, 36, 36);
}

.navigation li a {
  color: mediumaquamarine;
  font-size: 1.3rem;
  margin: 0 0.8rem;
}

.navigation li {
  display: block;
  text-decoration: none;
}

.navigation li:hover {
  opacity: 0.3;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.5em;
  color: white;
  text-align: center;
}

h2 {
  color: white;
  font-size: 1em;
}

.logo {
  width: 7vh;
  padding: 0;
  float: right;
  margin-right: 2%;
}

article {
  color: white;
  font-size: 1em;
}

.imgbarracuda {
  width: 50vh;
}

.imgbluecorner {
  width: 50vh;
}

.imgyongala {
  width: 50vh;
}

.vid {
  height: 30%;
  width: 100%;
}

.hamburger {
  position: fixed;
  width: 50%;
  height: 100%;
  background-color: black;
}
.hamburger li {
  color: white;
  font-size: 1em;
  padding: 20%;
  border-bottom: 1px solid mediumaquamarine;
  list-style: none;
}
.hamburger li a:hover {
  opacity: 0.3;
}
.toggle-btn {
  position: absolute;
  left: 150%;
  top: 15px;
}
.toggle-btn {
  display: block;
  color: black;
  width: 30px;
  height: 5px;
}
@media screen and (width: 480px) {
  .hamburger {
    display: block;
  }
}
